
.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.input-wrapper {
  margin-bottom: 15px;
}

.run-immediately {
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #557eff;
  margin-left: 10px;
}