
.fileDrop {
  width:100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.top {
  padding: 10px 12px;
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.bottom {
  display:flex;
  flex-direction: column;
  overflow: auto;
  flex:1;
}
.top-inputs {
  display:flex;
  flex:1;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.input-container{
  width:291px;
}

.plus-button-wrapper {
  display:flex;
  flex-direction: column;
}

.add-buttons-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 163px;
  justify-content: space-between;
}

.scenario-button {
  width: 165px;
  height: 38px;
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.5);
  display:flex;
  align-items: center;
  justify-content: center;
}

.actions-style {
  cursor: pointer;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.62;
  letter-spacing: normal;
  text-align: center;
  color: #eba205;
  margin-left: 20;
}
