.history/*
node_modules/*
launch.json
.vscode/*
.DS_Store
coverage/*
mochawesome-report/*
.idea/*
.nyc_output
*.log
*.sqlite
docs/devguide/site
docs/run_local_webserver.sh
docs/.idea/docs.iml
docs/.idea/workspace.xml
predator
