@import "./colors";

@mixin removeInputDefaultStyle() {
  margin: 0;
  border:none;
  background-color:transparent;
  box-shadow: none;
  &:focus, &:active {
    outline: none;
    box-shadow: none;
  }
}
