

.box-wrapper {
  text-align: left;
  display: flex;
  flex-direction: column;
  padding: 17px 20px;
  overflow: hidden;
  border-radius: 3px;
  transition: all .3s ease-in-out;
  background-color: #fafbfc;
  width: 200px;
  height: 85px;
  border: 1px solid #e9e9e9;
}

.box-title {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 15px;
}

.box-label{
  font-weight: 500;
  color: #778195;
}

.details {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 14px;
  text-align: left;
}
.details-text {
  font-size: 21px;
  font-weight: 300;
  color: #778195;
}