@import "../../styles/colors";

$textColor: $text-grey;
$sectionsTextColor: $text-grey;
$headerIconColor: $outline-color;
$borderColor: $border-grey;
$iconColor: $default-blue;
$disabledTextColor: #c2c2c2;
$disabledBackgroundColor: $disabled-grey-background;