

.title {
  font-family: Roboto;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #778195;
}

.description {
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #778195;
  margin-top: 10px;
}

.content {
  border-top: 1px solid;
  border-color:#e9e9e9;
  margin-top:17px;
  padding-top:11px;
  width: 100%;
}