@import "../styles/inputs";

@mixin inputDefault {
  font-weight: 400;
  font-size: 1rem;
  color: $text-black;
  letter-spacing: normal;
}

@mixin inputPlaceholder {
  @include inputDefault;
  color: $disabled-grey-text;
}

@mixin inputView {
  @include inputDefault;
  color: $text-grey;
}

.InputText {
  @include inputDefault;
  line-height: 1.6183rem;

  &--placeholder {
    @include inputPlaceholder;
  }

  &--view {
    @include inputView;
  }
}


.input-counter {
  @include inputDefault;
  flex: 1;
  width: 0;
  height: 100%;
  border-radius: 3px 0 0 3px;
  background-color: transparent;
  text-align: center;
  border: none;
  border-right: 1px solid $default-border-color;

  &:active, &:focus {
    outline: none;
  }
}

.input-counter-wrapper {
  display: flex;
  overflow: hidden;
  width: var(--number-input-width);
  height: var(--number-input-height);
  background: white;
  @include default;

  &[data-error="true"] {
    @include error
  }

  &:hover {
    @include hover;
  }

  &:focus-within {
    @include active;
  }

  &[data-disabled="true"] {
    pointer-events: none;

    .input-counter {
      background: $greyout;
      color: $disabled-light-grey-button;
    }
  }
}
