
.wrapper {
  display:flex;
  width: 100%;
  min-height: 97px;
  border-radius: 6px;
  box-shadow: 0 1px 9px 0 rgba(0, 0, 0, 0.05);
  background-color: #ffffff;
  align-items: center;
  padding:15px;
}