
.form {
  display: flex;
  flex-direction: column;
  padding-left: 100px;
.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;

  > :first-child {
    margin-right: 5px;
    }
  }

}

.input-wrapper {
  margin-bottom: 15px;
}