.create-button {
  width: 100px;
  height: 35px !important;
  margin-bottom:10px;
  padding: 0px !important;
}

.notes p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 164px;
}