{
  "presets": [
    "es2015",
    "stage-0",
    "react"
  ],
  "plugins": [
    "react-hot-loader/babel",
    [
      "transform-runtime",
      {
        "polyfill": false,
        "regenerator": true
      }
    ]
  ],
  "env": {
    "build": {
      "optional": [
        "optimisation",
        "minification"
      ]
    }
  }
}
